*.nupkg
*.suo
*.user
packages
paket.exe
samples/*/bin
samples/*/obj
samples/WebApp/App/*.js
samples/WebApp/App/*.js.map
samples/WebApp/Gen
samples/WebApp/Scripts/*.js.map
samples/WebApp/Scripts/Tachyus.Gluon.Generated.*
samples/WebApp/Scripts/Tachyus.Gluon.js
samples/WebApp/Scripts/WebApp.js
samples/WebApp/Scripts/jquery*
samples/WebApp/Scripts/typings
src/*/bin
src/*/obj
src/Gluon.Client/Tachyus.Gluon.js
src/Gluon.Client/Tachyus.Gluon.js.map
tests/*/bin
tests/*/obj
.vs/
