*.nupkg
*.suo
*.swp
*.user
*.userprefs
packages
paket.exe
docs/content/release-notes.md
docs/output/
docs/tools/*.svclog
samples/*/bin
samples/*/obj
samples/WebApp/App/*.js
samples/WebApp/App/*.js.map
samples/WebApp/Gen
samples/WebApp/Scripts/*.js.map
samples/WebApp/Scripts/Gluon.Generated.*
samples/WebApp/Scripts/Gluon.js
samples/WebApp/Scripts/WebApp.js
src/*/bin
src/*/obj
src/*/AssemblyInfo.*
src/*/Properties/AssemblyInfo.*
src/Gluon.Client/Gluon.js
src/Gluon.Client/Gluon.js.map
src/Gluon.Client/Gluon.d.ts
tests/*/bin
tests/*/obj
.vs/
.fake/
bin/
temp/
