*.nupkg
*.suo
*.swp
*.user
*.userprefs
.fake/
.vs/
bin/
docs/content/release-notes.md
docs/output/
docs/tools/*.svclog
packages
paket.exe
samples/*/bin
samples/*/obj
src/*/AssemblyInfo.*
src/*/Properties/AssemblyInfo.*
src/*/bin
src/*/obj
src/Gluon.Client/dist/
temp/
tests/*/bin
tests/*/obj
