source https://nuget.org/api/v2

nuget Argu
nuget FSharp.Core
nuget FSharp.Formatting
nuget Fake
nuget FsCheck
nuget FsCheck.Xunit
nuget SourceLink.Fake
nuget Microsoft.Owin 3.0.1 framework: >= net45
nuget Microsoft.Owin.Diagnostics 3.0.1
nuget Microsoft.Owin.FileSystems 3.0.1
nuget Microsoft.Owin.Host.HttpListener 3.0.1
nuget Microsoft.Owin.Host.SystemWeb 3.0.1
nuget Microsoft.Owin.Hosting 3.0.1
nuget Microsoft.Owin.SelfHost 3.0.1
nuget Microsoft.Owin.StaticFiles 3.0.1
nuget Newtonsoft.Json 6.0.8
nuget Owin 1.0
nuget jQuery 2.1.4
nuget jquery.TypeScript.DefinitelyTyped 2.2.1
nuget xunit < 2
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true
