source https://nuget.org/api/v2
redirects on
framework: >= netstandard2.0, >= net461

nuget Argu
nuget FSharp.Core
nuget FSharp.Formatting
nuget KatanaNetStandard framework: >= netstandard2.0
nuget Owin framework: >= net45
nuget Microsoft.Owin framework: >= net45
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.FileSystems
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.StaticFiles
nuget Newtonsoft.Json
nuget System.Text.Encodings.Web

group Build
    source https://nuget.org/api/v2

    nuget Fake

group Test
    source https://nuget.org/api/v2
    redirects on
    framework: net461

    nuget AppVeyor.TestLogger
    nuget Microsoft.NET.Test.Sdk
    nuget FsCheck
    nuget FsCheck.Xunit
    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio version_in_path: true
    nuget XunitXml.TestLogger