source https://nuget.org/api/v2
framework: auto-detect
storage: none

nuget Argu
nuget FSharp.Core >= 4.5.2 lowest_matching:true
nuget Microsoft.AspNetCore.Routing
nuget Newtonsoft.Json
nuget TaskBuilder.fs

group Build
    source https://nuget.org/api/v2

    nuget Fake
    nuget FSharp.Formatting

group Test
    source https://nuget.org/api/v2
    framework: auto-detect
    storage: none

    nuget FSharp.Core >= 4.5.2 lowest_matching: true
    nuget AppVeyor.TestLogger
    nuget Microsoft.NET.Test.Sdk
    nuget FsCheck
    nuget FsCheck.Xunit
    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio version_in_path: true
    nuget XunitXml.TestLogger