type project
authors Tachyus
owners
    ctaggart
    panesofglass
    t0yv0
copyright Copyright Tachyus Corp.
description TypeScript to FSharp connector
licenseUrl https://raw.githubusercontent.com/Tachyus/gluon/master/LICENSE.txt
projectUrl http://www.tachyus.com/gluon/
files
    bin\Release\Gluon.* ==> lib\net45
    ..\Gluon.CLI\bin\Release\*.* ==> tools
