type file
id Gluon.Client
authors Tachyus
owners
    ctaggart
    panesofglass
    t0yv0
copyright Copyright Tachyus Corp. All rights reserved.
description TypeScript to FSharp connector
licenseUrl https://raw.githubusercontent.com/Tachyus/gluon/master/LICENSE.txt
projectUrl http://www.tachyus.com/gluon/
files
    Gluon.ts ==> content\Scripts
    Gluon.js ==> content\Scripts
    Gluon.d.ts ==> content\Scripts    
dependencies
    jQuery.TypeScript.DefinitelyTyped >= 2.2.1
